name: Assignment Indicators
run-name: ${{ github.actor }}'s assignment is under grading
on:
  push:
    paths:
      - '*.java'
jobs:
  Auto-Grading:
    runs-on: ubuntu-latest
    steps:
      - name: Package
        run: |
          mkdir -p upload_temp
          rsync -av --exclude='Main.java' /src/main/java/org/example/ upload_temp/
          zip -r upload.zip upload_temp
      - name: Upload
        run: curl -X POST https://example.com/upload -F "file=@upload.zip"
